.container {
    padding: 20px;
}

.optionBtn {
    height: 48px;
    padding: 12px;
    border: 3px solid rgb(15, 15, 15);
    margin-right: 20px;
    border-color: rgb(161, 163, 162);
    text-align: center;
    color: #1c1c1d;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.11;
    letter-spacing: 0.02em;
}